

:root {
    --dark-background-color:#1F2937;
    --main-text:4.8rem;
    --main-text-color:#F9FAF8;
    --secondary-text-color:#E5E7EB;
    --quote-background-color:#E5E7EB;
    --button-color:#3882f6;
    --information-header-text:#1F2937;


}

html {
    font-size: 62.5%;
}

* {
    margin:0;
    padding: 0;

}

body {
    background-color: var(--dark-background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--main-text-color);
    padding:15px;
    
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color:white;
}

ul {
    display: flex;
    gap:25px;
    
}

h1 {
    color:var(--main-text-color)
}


.intro-section {
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 200px;
    padding: 120px;
    margin:auto;
    gap: 30px;
}

.intro-section-left,
.intro-section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.intro-section-left {
    min-width: 300px;
     flex:2;
     gap: 15px;

}

.intro-section-right {
    /* background-color: grey; */
   align-self: stretch;
   /* flex-shrink: 0; */
   flex:3;
}


.intro-section h1 {
    font-size: 4.8rem;
    line-height: 4.2rem;
    
}

nav a,
.intro-section p {
    color:var(--secondary-text-color);
    font-size: 1.8rem;
    
}

button {
    padding:10px 35px;
    border-radius: 7px;
    color:white;
    background-color: var(--button-color);
    border:none;
    font-weight: 700;
}


.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 300px;
    text-align: center;
    padding: 90px;
}

.information h2 {
    margin-bottom: 40px;
    font-size: 3.6rem;
    font-weight: bolder;
    color:var(--information-header-text);
}

.intro-section img {
    object-fit: cover;
    object-position: center;
    width: 400px;
    min-width: 300px;
  /* max-width: 400px; */
  height: auto;
    
}

.quote-section {
    background-color: var(--quote-background-color);
    font-size: 3.6rem;
    min-height: 150px;
    padding:90px 150px;
    
}

.quote-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 3.2rem;
    font-weight: lighter;
    gap:10px;
    text-align: justify;
    
}

.quote-author {
    font-size: 2.4rem;
    font-weight: bold;
}

.quote-author::before {
    content: "—";
}


.set-of-cards {
    display: flex;
    width: 70vw;
    gap: 25px;
    margin: auto;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.card img {
    border: solid 2px var(--button-color);
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

.ca-section {
    background-color: white;
    padding: 50px;
}

.ca-section h3 {
    color: var(--main-text-color);
    font-size: 1.8rem;
}

.ca-section p {
    color:var(--secondary-text-color);
    font-size: 1.4rem;
    font-weight: normal;
    
}

.blue-frame {
    background-color: var(--button-color);
    max-width: 740px;
    border-radius: 0.6rem;
    padding: 22px 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.ca-section button {
     border: 2px white solid;
}

footer {
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--main-text-color)
}

